{% extends 'index.html' %}
{% block judul %} GuestTampil {% endblock %}
{% block JudulKonten %}
    <a href="/GuestRegister/" class="btn btn-info"> Register</a>
{% endblock %}
{% block konten %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> GuestId </th>
                <th> GuestPw </th>
                <th> GuestName </th>
                <th> GuestContact </th>
            </tr>
        </thead>
        <tbody>
        {% for row in hasil %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}